@import "_constants.scss";
@import "_mixins.scss";

.header {
  height: 718px;
  background: url(./images/header/bg-header.png) no-repeat;
  background-size: cover;
  background-position: center center;
  min-width: 320px;
  .container {
    padding: 0;
  }
    &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundBlack;
    padding: 25px 16px 25px 16px;
     &-logo {
      display: flex; 
      &-img {
        cursor: pointer;
        background-image: url(./images/header/Logo.png);
        width: 43px;
        height: 41px;
        &:hover {
          background-image: url(./images/header/logo-hover.png);
        }
      }
      p {
        display: none;
        cursor: pointer;
              }
      }
      button {
      @include fontSize(15px,15px);  
      width: 119px;
      height: 37px;
      font-weight: bold;     
      color: $textColorWhite;
      background: $backgroundPurple;
      border: none;
      border-radius: 40px;
      cursor: pointer;
        &:hover {
          background: $backgroundWhite;
          color: $textColorPurple;
      }
      }
      &-menu {
        &-btn {
        width: 45px;
        height: 45px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &-burger {
          width: 30px;
          height: 3px;
          background: $backgroundWhite;
          transition: all 0.2s ease-in-out;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 3px;
            background: $backgroundWhite;
            transition: all 0.2s ease-in-out;
          }
          &::before {
            right: 8px;
            width: 15px;
            transform: translateY(-8px);
          }
          &::after {
            transform: translateY(8px);
          }
        }
        &.open .header__nav-menu-btn-burger {
          padding-left: 5px;
          transform: translateX(-50px);
          background: transparent;
          &::before {
            right: 0;
            width: 30px;
            transform: rotate(45deg) translate(35px, -35px);
            background: $backgroundWhite;
          }
          &::after {
            width: 30px;
            transform: rotate(-45deg) translate(32px, 32px);
            background: $backgroundWhite;
          }
        }
      }
      &-burger {
       
        position: absolute;
        display: none;
        left: 4%;
        top: 95px;
        width: 92%;
        background: $backgroundBurger;
        &.open {
          display: block;
          ul {
            
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            li {
              display: flex;
              height: 88px;
              align-items: center;
              border-bottom: 2px solid gray;
            }

            a {
              @include fontSize(26px,26px);
              display: flex;
              align-items: center;
              color: $textColorWhite;
              padding-left: 35px;
              &:active,
              &:focus {
                height: 53px;
                border-left: 8px solid $backgroundPurple;
                color: $textColorPurple;
              }
            }
          }
        }
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      @include fontSize(48px,48px);
      transition: 0.3s;
      padding-top: 50px;
      font-weight: bold;
      color: $textColorWhite;
    }
    p {
      @include fontSize(18px,24px);
      transition: 0.3s;
      width: 80%;
      padding-top: 18px;
      text-align: center;
      color: $textColorPurple;
    }
    h3 {
      @include fontSize (14px,14px);
      transition: 0.3s;
      padding-top: 14px;
      color: $textColorGray;
      text-align: center;
      text-transform: uppercase;
      
    }
  }
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 400px;
    button {
      @include fontSize(18px,20px); 
      cursor: pointer;
      width: 290px;
      height: 45px;
      font-weight: bold;
      color: $textColorWhite;
      background: $backgroundPurple;
      border: none;
      border-radius: 40px;
      &:hover {
        color: $textColorPurple ;
        background: $backgroundWhite ;
        border: 1px solid $textColorPurple;
      }
    }
    h3 {
      @include fontSize(14px,14px);
      padding-top: 12.5px;   
      color: $textColorGray;
    }
  }
}

@media  (min-width: 481px) {
  .header {
    height: 800px;
    &__nav {
      flex-wrap: wrap;
      justify-content: center;
      padding: 25px 20px 25px 20px;
      &-logo {
        width: 50%;
        justify-content: flex-start;
        align-items: flex-end;
        p {
          display: block;
          padding: 0 0 7px 17px;
          font-weight: bold;
          @include fontSize(24px,16px);
          align-items: center;
          text-transform: uppercase;
          color: $textColorPurple;
          &:hover {
            color: $textColorWhite;
          }
        }
      }
      &-button {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        button {
          @include fontSize(16px,16px);
          width: 145px;
          height: 38px;
        }
      }
      &-menu {
        padding-top: 18px;
        &-btn {
          display: none;
        }
        &-burger {
          position: relative;
          left: 0;
          top: 0;
          display: block;
          background: none;
          ul { 
            
            display: flex;
            justify-content: space-around;
            width: 481px;
            li {
              border: none;
              a {
                font-weight: bold;
                @include fontSize(16px,16px);
                color: $textColorPurple;
                &:hover {
                  color: $textColorWhite;
                }
              }
            }
          }
        }
      }
    }

    &__description {
      h1 {
        @include fontSize(72px,72px);
      }
      p {
        @include fontSize(24px,24px);
        padding-top: 19px;
        width: 80%;
        
      }
      h3 {
        @include fontSize(14px,14px);
        padding-top: 19px;
        
      }
    }
    &__button {
      padding-top: 0;
      position: absolute;
      top: 767px;
      left: calc(100% / 2 - 180px);
      display: flex;
      flex-direction: column;
        button {
        @include fontSize(21px,23px);
        width: 390px;
        height: 62px;
        
      }
      h3 {
        padding-top: 42px;
        line-height: 16px;
      }
    }
  }
}
@media  (min-width: 992px) {
  .header {
    &__nav {
      background: none;
        &-menu-burger {
        width: 0;
        position: absolute;
        top: 40px;
        left: calc(100% / 2 - 180px);
        ul {
          justify-content: space-between;
        }
      }
    }
    &__description {
      h1 {
        @include fontSize(82px,82px);
      }
      p {
        @include fontSize(30px,30px);
        }
      h3{   
        @include fontSize(16px,16px);
      }
    }
  }
}
