.section__present {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  min-width: 320px;
  h1 {
    transition: 0.3s;
    margin: 0 auto;
    width: 273px;
    margin-top: 130px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #635c73;
  }
  p {
    transition: 0.3s;
    margin: 0 auto;
    width: 276px;
    margin-top: 27px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;

    color: #323232;
  }
  .section__present-buttons {
    margin: 0 auto;
    width: 276px;
    margin-top: 36px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    div {
      display: flex;
      border: 1px solid rgba(27, 31, 35, 0.2);
      align-items: center;
      border-radius: 5px;
      &:last-child {
        margin-top: 20px;
      }
      .Link--muted {
        text-decoration: none;
        display: flex;
        align-items: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 3px 6px 3px 6px;
        border-right: 1px solid rgba(27, 31, 35, 0.2);
        color: #24292e;
        background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
        // background: rgba(182, 182, 182, 0.2);
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        align-items: center;
        text-align: center;
        svg {
          margin-right: 5px;
        }
      }
      a:last-child {
        padding: 3px 6px 3px 6px;
        color: #24292e;

        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        align-items: center;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .section__present {
    h1 {
      width: 90%;
      margin-top: 158px;
      font-size: 42px;
      line-height: 42px;
    }
    p {
      width: 90%;
      margin-top: 33px;
      font-size: 21px;
      line-height: 32px;
    }
    .section__present-buttons {
      width: 450px;
      div {
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .section__present {
    h1 {
      width: 758.89px;
      margin-top: 158px;
      font-size: 54px;
      line-height: 54px;
    }
    p {
      width: 861px;
      margin-top: 33px;
      font-size: 21px;
      line-height: 32px;
    }
    .section__present-buttons {
      width: 450px;
      div {
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}
