@import "_constants.scss";
@import "_mixins.scss";
.section-comments {
  background-image: url(./images/comments/bg-comments.png);
  background-position-x: center;
  background-size: cover;
  min-width: 320px;
    &__title {
    @include fontSize(36px,48px);
    padding: 53px 0;
    font-weight: bold;
    color: $textColorWhite;
    text-align: center;
    margin: 0 auto;
     width: 80%;
  }
  &__content { 
    &-post {
    text-align: center;
    
      p {
        @include fontSize(16px,24px);
        padding: 33px 0 45px 0;
        font-style: italic;
        font-weight: bold;
        color: $textColorWhite;
        text-align: center;
        margin: 0 auto;
        width: 80%;
      }
    }
  }
  &-details {
    @include fontSize(14px,21px);
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    color: #A291A5;
    text-align: center;
    &:after {
      content: "";
      display: block;
      height: 1px;
      background:  #645766;;
      margin-top: 20px;
    }
  }
}
@media  (min-width: 481px) {
  .section-comments {
    &__title {
      @include fontSize(42px,44px);
      padding: 83px 0;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      &-post {
        width: 45%;
        align-self: baseline;
        img { 
         max-width: 90%;
        }
        p{ 
          padding: 33px 0 58px 0;
        }
      }
    }
  }
}

@media  (min-width: 992px) {
  .section-comments {
    &__title {
      @include fontSize(48px,50px);
      padding: 108px 0 81px;
      
     
    }
    &__content { 
      &-post {
        width: 30%;
        p{ 
          padding: 33px 0 116px 0;
        }
      }
    }
  }
}
