.section-present {

  

  h2 {
    margin: 0 auto;
    width: 273px;
    padding-top: 130px;
    font-weight: bold;
    @include fontSize(26px,28px);
     
    text-align: center;
    text-transform: uppercase;
    color: #635c73;
  }
  p {
    transition: 0.3s;
   margin: 0 auto;
    width: 276px;
    padding-top: 27px;
    @include fontSize(14px,20px);
  
    text-align: center;
    color: #323232;
  }
  &__buttons {
    margin: 0 auto;
    width: 276px;
    padding-top: 36px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    div {
      display: flex;
      border: 1px solid rgba(27, 31, 35, 0.2);
      align-items: center;
      border-radius: 5px;
      &:last-child {
        margin-top: 20px;
      }
     
      a:last-child {
        padding: 3px 6px 3px 6px;
        color: #24292e;
        font-family: "Lato", sans-serif;
        @include fontSize(14px,20px);
        align-items: center;
        text-align: center;
      }
    }
    &-item{
      text-decoration: none;
      display: flex;
      padding: 3px 6px 3px 6px;
      border-right: 1px solid rgba(27, 31, 35, 0.2);
      color: #24292e;
      background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
      font-family: "Lato", sans-serif;
      @include fontSize(14px,20px);
      align-items: center;
      text-align: center;
      svg {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .section-present {
    h2 {
      width: 90%;
      padding-top: 158px;
      @include fontSize(42px,42px);
     
    }
    p {
      width: 90%;
      padding-top: 33px;
      @include fontSize(21px,32px);
     
    }
    &__buttons {
      width: 450px;
      div {
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .section-present {
    h1 {
      width: 758.89px;
      padding-top: 158px;
      @include fontSize(54px,54px);
     
    }
    p {
      width: 800px;
    }
    &__buttons {
     padding-bottom: 70px;
    }
  }
}
